<!DOCTYPE html>
<html>
<head>
    <!--<title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>-->
</head>
<body>
	<!--
		{
			msg: [], //list of historical messages
			//msg example:
			// userName: text (time)
		}
	-->
    <h1><%= title %></h1>
	<% for(var i = 0; i < msgNum; i++){ %>
		<p><% msg[i] %></p>
	<% } %>
    <form method="post" enctype="application/x-www-form-urlencoded">
        <p><input type="text" name="content" placeholder="请输入内容..."/></p>
        <p><input type="submit" value="提交"/></p>
    </form>
</body>
</html>