<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href=''><!--path of CSS style-->
	</head>
	<body>
		<%- body %>
	</body>
	<footer>
		WeLearn学堂助手
		<br>
		All rights reserved by Team Fire
		<br>
		School of Software, Tsinghua University, Beijing, China
	</footer>
</html>