<!DOCTYPE html>
<html>
<head>
    <title>私信老师</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

    <header></header>
    <div class="mainbody" id="mainbody"> </div>
    <script src="/3rd/jquery.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="/js/base.js"></script>
    <script>

    var userName = urlParam.openid;
    //var socket = io.connect('http://localhost:3000');
    var socket = io.connect('http://101.5.210.250:3000');

    socket.on('connect', function(){
        socket.emit('join', {openid: urlParam.openid, course: urlParam.course});
        //console.log('join ' + urlParam.openid + urlParam.course);
        
    });

    socket.on('msg', function(user, msg){
        console.log(user);
        console.log(msg);
        $('#msgBody').before('<p>'+msg+'</p>');
        $('#msgBox').scrollTop($('#msgBox')[0].scrollHeight);
    });

    Date.prototype.Format = function (fmt) {
        var o = {
            "M+": this.getMonth() + 1, //月份 
            "d+": this.getDate(), //日 
            "h+": this.getHours(), //小时 
            "m+": this.getMinutes(), //分 
            "s+": this.getSeconds(), //秒 
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度 
            "S": this.getMilliseconds() //毫秒 
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
        if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    };

    function clearPage(){
        $('header').html('');
        $('#mainbody').html('');
    };

    function postMsg(){
        var url = '/student/message';
        var message = $('#msgBody').val();
        console.log(message);
        console.log(urlParam.course);
        $.post(url, {course: urlParam.course,
            msgHead: '',
            msgBody: message
        });
    };

    function getHistory(){
        //console.log(urlParam.course);
        //console.log('http://59.66.138.43/student/message/msg_list/'+urlParam.course+'?'+urlParam.openid);
        var url = '/student/message/msg_list/' + urlParam.course;
        //console.log(url);
        $.get(url, {openid: urlParam.openid}, function (data){
            msg = data.messages;
            //console.log(data);
            //console.log(msg);
            clearPage();
            $('header').html(urlParam.course+"课程私信");
            $('#mainbody').append('<div id="msgBox" style="height:80%;overflow:auto;">');
            for(var i = 0; i < msg.length; i++){
                var temp = msg[i].date.split('.')[0].split('T');
                var date = temp[0] + ' ' + temp[1];
                if (msg[i].toTeacher == true){
                    $('#msgBox').append('<p>Me: '+date+'<br>'+msg[i].msgBody+'</p>');
                }
                else{
                    $('#msgBox').append('<p>'+date+'<br>'+msg[i].msgBody+'</p>');
                }
            }
            $('#msgBox').append('</div>');
            //console.log('his');

            $('#mainbody').append('<textarea id="msgBody" ></textarea><button id="send">确定</button>');
            //console.log('show');
            $('#msgBody').keydown(function(e){
                if (e.which === 13){//Enter
                    e.preventDefault();
                    var _msg = $('#msgBody').val();
                    //console.log(_msg);
                    if(_msg){
                        postMsg();
                       var date = new Date().Format("yyyy-MM-dd hh:mm:ss");
                        _msg = date + '<br>' + _msg;
                        socket.send(_msg);
                        $('#msgBody').before('<p>Me: ' +_msg + '</p>');
                        $('#msgBox').scrollTop($('#msgBox')[0].scrollHeight);
                    }
                    $('#msgBody').val('');
                }
            });

            $('#send').click(function(){
                var _msg = $('#msgBody').val();
                //console.log(_msg);
                if(_msg){
                    postMsg();
                    var date = new Date().Format("yyyy-MM-dd hh:mm:ss");
                    _msg = date + '<br>' + _msg;
                    socket.send(_msg);
                    $('#msgBody').before('<p>Me: ' +_msg + '</p>');
                    $('#msgBox').scrollTop($('#msgBox')[0].scrollHeight);
                }
                $('#msgBody').val('');
            });
        });        
    };
    getHistory();
    </script>

</body>