<!doctype html>
<html>
	<head>
		<title>
			公告信息
		</title>
		<!-- <link rel="stylesheet" href="/stylesheet/style.css"> -->
	</head>
	<body>
		<!--
			{
				notice: {}//The selected notice
			}
		-->
		<h1>
			<%= notice.title %>
		</h1>
		<p>
			<%= notice.content %>
		</p>
		<p>
			<%= notice.publisher %> <%= notice.publishtime %> 
		</p>
	</body>
</html>