<!DOCTYPE html>
<html>
<head>
    <title>发布图文公告</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<form method="post" enctype="multipart/form-data">
    <select name="course">
        <% courses.forEach(function (course) { %>
        <option value="<%= course %>"><%= course %></option>
        <% }) %>
    </select>
    <br>
    <input name="msgHead">
    <br>
    <textarea name="msgBody"></textarea>
    <br>
    <input type="file" name="photo">
    <br>
    <input type="submit" value="发送公告"/>
</form>
</body>
</html>