.page-footer{
    text-align: center;
    font-size: 1em;
}
b{
    font-size: 2em;
}
p{
    width:99%;
    display: -webkit-box;
    overflow:hidden;
    -webkit-box-orient: vertical;
    font-size: 3em;
    text-overflow: ellipsis;

    -webkit-line-clamp: 15; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.widget-content {
    margin: 10px;
    padding: 3px;
    background-color: #DDDDDD;
}

.widget-title {
    font-weight: bold;
    padding: 10px;
    background-color: #E0E0E0;
}

.widget-middle {
    text-align: right;
    padding: 3px;
    background-color: #F0F0F0;
}

.widget-text {
    padding: 10px;
    background-color: #FCFCFC;
}
