.page-footer{
    text-align: center;
}
b{
    font-size: 2em;
}
p{
    width:99%;
    display: -webkit-box;
    overflow:hidden;
    -webkit-box-orient: vertical;
    font-size: 3em;
}
.widget-content {
    margin: 10px;
    padding: 1px;
    background-color: #DDDDDD;
}

.widget-title {
    font-weight: bold;
    padding: 10px;
    background-color: #EEEEEE;
}

.widget-text {
    padding: 10px;
    background-color: #FCFCFC;
}
