<!DOCTYPE html>
<html>
<head>
    <title>私信老师</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <header></header>
    <div class="mainbody" id="mainbody"> </div>
    <script src="/3rd/jquery.js"></script>
    <script src="/3rd/swig.js"></script>
    <script src="/js/base.js"></script>
    <script>
    var msg = {};
    var status = 0;
    var courseName;
    function clearPage(){
        $('header').html('');
        $('#mainbody').html('');
    };

    function showChoose(){
        $('#mainbody').append('<select name="courseName" id="select"><% for (var i = 0; i < courses.length; i++) { %><option value="<%= courses[i] %>"><%= courses[i] %></option><% } %></select><button onclick="clickt();">确定</button>');
    };
    function clickt(){
        courseName = $('select').val();
        //console.log(courseName);
        //console.log('http://59.66.138.50/student/message/msg_list/'+courseName+'?'+urlParam.openid);
        var url = '/message?openid=' + urlParam.openid + '&course=' + courseName;
        //console.log(url);
        window.location.href = url;
    };
    showChoose();
    </script>
</body>
</html>