<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1><%= title %></h1>
    <% if(condition === 'loginFail'){ %>
        <p>验证失败</p>
    <% } %>
    <% if(condition === 'loginFail'){ %>
        <form method="post" enctype="application/x-www-form-urlencoded">
            <p><input type="text" name="studentId" placeholder="学号"/></p>
            <p><input type="text" name="password" placeholder="密码"/></p>
            <p><input type="submit" value="确定"/></p>
        </form>
    <% } %>
</body>
</html>