<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<<<<<<< HEAD
<h1><%= title %></h1>
<% if(condition === 'loginFail'){ %>
<p>验证失败</p>
<% } %>
<% if(condition === 'login'){ %>
<form method="post" enctype="application/x-www-form-urlencoded">
    <p><input type="text" name="studentId" placeholder="学号"/></p>
    <p><input type="text" name="password" placeholder="密码"/></p>
    <p><input type="submit" value="确定"/></p>
</form>
<% } %>
=======
    <h1><%= title %></h1>
    <% if(condition === 'loginFail'){ %>
        <p>验证失败</p>
    <% } %>
    <% if(condition === 'loginFail' || condition === 'login'){ %>
        <form method="post" enctype="application/x-www-form-urlencoded">
            <p><input type="text" name="studentId" placeholder="学号"/></p>
            <p><input type="password" name="password" placeholder="密码"/></p>
            <p><input type="submit" value="确定"/></p>
        </form>
    <% } %>
>>>>>>> origin/master
</body>
</html>