<!DOCTYPE html>
<html>
<head>
    <title>私信老师</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <form method="post" enctype="application/x-www-form-urlencoded">
        <select name="course">
            <% courses.forEach(function (course) { %>
            <option value="<%= course %>"><%= course %></option>
            <% }) %>
        </select>
        <br>
        <input name="msgHead">
        <br>
        <textarea name="msgBody"></textarea>
        <br>
        <input type="submit" value="发送私信"/>
    </form>
</body>
</html>